
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Nombre Pelicula" aria-label="Recipient's username" aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-primary" type="button" id="button-addon2">BUSCAR</button>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-4">
<!-- <p> {{ this.filmsServices.allFilms[0].title|json }}</p> -->
<div *ngFor="let film of filmsServices.allFilms" class="card " style="width: 18rem;">
  <img class="card-img-top" src={{film.image_path}} alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{film.title}}</h5>
    <p class="card-text">{{film.description}}</p>
    <p class="card-text">Genre: {{film.genre}}</p>
    <a href="#" class="btn btn-primary" routerLink="film">ALQUILAR</a>
  </div>
</div>
</div>