.card-grup{
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 98vw;
}
.card{
  max-width: 20vw;
  display: flex;
  margin: 10px;
  
}
.card-title{
    text-align: center;
    text-transform: uppercase;
}
.btn{
    background-color:orange;
    border: yellow;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
}
.row{
    justify-content: center;
}
.input-group{
  margin-top: 5px;
  width: 100vw;
  display: flex; 
  padding-right: 50px;
  padding-left: 50px ;
}

