<div class="container-fluid">

    <div class="row">
        
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 columna-izq text-center">
            <h3>INFORMACIÓN PERSONAL</h3>
            <p id="user-name" class="nombre datos-per">MEGAN</p>
            <p id="user-lastname" class="apellido datos-per">FOX</p>
            <p id="user-email"class="email datos-per"> meganfox@gmail.com </p>            
            <button type="button" class="btn">SALIR</button>
        </div>

       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 green columna-der">
            <h3>PELICULAS ALQUILADAS</h3>
            <ul class="list-group ">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
        </div>

    </div>
</div>
