<section class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 caja-izq">
      <img
        src="https://images-na.ssl-images-amazon.com/images/I/51cfeIIm12L._AC_.jpg"
        class="img-fluid"
        alt="Responsive image"
      />
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 caja-derecha">
      <h2 class="titulo">start wars</h2>
      <p class="descripcion">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit aut,
        voluptas quis quia nostrum in, quam sed, optio fugiat impedit aliquam
        iste deserunt accusantium illum fuga! Eum odit minima atque totam quidem
        incidunt dolores nihil deleniti reiciendis, at fugiat facere nesciunt
        suscipit unde magnam iste itaque, aspernatur, sit ex doloremque tempore
        eos? Doloribus, nulla fuga. Esse dolores iusto sint eius labore
        perspiciatis! Dolorem provident mollitia minima, dicta ipsam labore quas
        voluptates id, accusamus nesciunt voluptatem culpa,
      </p>
      <button
        type="button"
        id="boton-alquilar"
        class="btn btn-primary btn-lg btn-block"
      >
        ¡ALQUILA AHORA O MUERE!
      </button>
    </div>
  </div>
</section>
