@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
li{
    list-style:none;
}
.net{
    color: red;
    border: none;
    font-size: 15px;
    margin-top: 4px;
    pointer-events: none;
    cursor: default;
}
.clas{
    color:yellow;
    font-size: 30px;
    margin-right: 3px;
    padding-top: 0;
    font-family: 'Dancing Script';
}
.bg-dark {
    background-color: orange!important;
}